<section class="hero">
    <!-- if errors -->
    {{#if newuserdata}}
    <div class="container">
        <div class="columns">
            <div class="column has-text-centered">

                <div class="bd-snippet-preview ">
                    <div class="notification is-danger">
                        <button class="delete" onclick="tmpCallback()"></button>
                        <h1 class="title">{{title}}</h1>
                        <ul>
                            {{#each errors}}
                            <li>{{this.msg}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{/if}}
    <!-- /if errors -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 p-5">
            <div class="alert alert-primary text-center" role="alert">
                <p>We're processing your payment, kindly check your mobile phone for a payment prompt.</p>
                <a href="/">Go back to shopping cart</a>
            </div>
        </div>
    </div>
</div>

</section>