<section class="hero">
    <!-- if the form has errors on click -->
    {{#if errors}}
    <div class="column has-text-centered">
        <div class="bd-snippet-preview ">
            <article class="{{cssalertclass}}">
                <div class="message-header">
                    <h1 class="title">{{title}}</h1>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <ul>
                        {{#each errors}}
                        <li>{{this.msg}}</li>
                        <br/>
                        {{/each}}
                    </ul>
                </div>
            </article>
        </div>
    </div>
    {{/if}}
    <!-- /if the form has errors on click -->

    <!-- If submit succeeds -->
    <!-- Show Processing M-PESA Payments -->
    {{#if newuserdata}}
    <div class="column has-text-centered">
        <div class="bd-snippet-preview ">
            <article class="{{cssalertforloading}}">
                <div class="message-header">
                    <p class="title">{{processingtitle}}</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    <!-- show loading thingy here -->
                    <div class="has-text-centered">
                        <a class="button is-success is-loading">Processing</a>
                        Processing Payments, Check Your Phone For STK Push message!
                    </div>
                </div>
            </article>
        </div>
    </div>
    {{/if}}
    <!-- /Show Processing M-PESA Payments -->
    <!-- /if submit succeeds -->

    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Buy Quotes With M-PESA
            </h1>
            <!-- columns -->
            <div class="columns">
                <!-- First column -->
                <div class="column">

                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title is-centered">
                                Motivation is a Push, Inspiration is a Pull
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">

                                <!-- media content -->
                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-128x128">
                                            <img src="/images/banner.jpg">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content has-margin-top-2">

                                            <h5>Buy 5 Quotes @ 10/=</h5>
                                            <br>
                                            <p> And have them delivered to your <strong>Email</strong> Instantly
                                            </p>

                                        </div>
                                    </div>
                                </article>
                                <!-- /media content -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /first column -->

                <!-- Second column -->
                <div class="column">

                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title is-centered">
                                Order Summary
                            </p>
                        </header>
                        <div class="card-content">
                            <div class="content">

                                <div class="has-text-centered">
                                    <h5 class="title">Total: KES 10/=</h5>
                                </div>

                                <!-- the form -->
                                <form method="POST" action="/">

                                    <!-- select item -->
                                    <div class="field">
                                        <div class="control has-text-centered">
                                            <div class="select">
                                                <select name="quotecategory">
                                                    <option selected disabled>Choose a Quote category</option>
                                                    <option>Programming</option>
                                                    <option>Workout</option>
                                                    <option>Motivation</option>
                                                    <option>Love</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /select item-->

                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input name="email" class="input" type="email" placeholder="Email to deliver quotes">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input name="phonenumber" class="input" type="tel" placeholder="Mpesa Phone Number">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </p>
                                    </div>

                                    <div class="field">
                                        <p class="control has-text-centered">
                                            <button class="button is-success" type="submit">
                                                Order
                                            </button>
                                        </p>
                                    </div>
                            </div>
                            </form>
                            <!-- /the form -->
                            <p class="has-text-centered is-size-6 has-text-danger"> N/b: Include the
                                country code e.g
                                +254</p>
                        </div>
                    </div>
                </div>
                <!-- /second column -->
            </div>
            <!-- /columns -->
        </div>
    </div>
</section>