<div class="hero-body">
    <div class="container">
        <h1 class="title has-text-centered">
            Buy Quotes With M-PESA
        </h1>
        <!-- columns -->
        <!-- If submit succeeds -->
        <!-- Show Processing M-PESA Payments -->
        {{#if message}}
        <div class="column has-text-centered">
            <div class="bd-snippet-preview ">
                <article class="{{cssalertforloading}}">
                    <div class="message-header">
                        <p class="title">{{processingtitle}}</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        <!-- show loading thingy here -->
                        <div class="has-text-centered">

                            <a class="button is-success is-loading">Processing</a>
                            Processing Payments, Check Your Phone For STK Push message!
                            {{message}}
                            {{title}}
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {{/if}}

        <form method="POST" action="/c2b/validation">
            <input type="submit" class="button is-success" />
        </form>

        <!-- /Show Processing M-PESA Payments -->
        <!-- /if submit succeeds -->

        <!-- /columns -->
    </div>
</div>
</section>